body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.big-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.instructions {
  color: rgb(221, 220, 220);
  font-family: Roboto, sans-serif;
  text-align: left;
  width: 20%;
  line-height: 1.6;
}

.highest {
  background-color: rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
  text-align: center;
  height: 150px;
  width: 150px;
  border-radius: 150px;
  padding: 30px;
}

b {
  color:rgb(0, 0, 0);
  margin-top: 30px;
  font-size: 20px;
}

.highest p {
  font-size: 50px;
  color: black;
  font-weight: bold;
}


.display-none {
  display: none;
}

#gameStarter {
  color: white;
  background-color: tomato;
  border: none;
  padding: 12px 16px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.instructions p, .instructions h2 {
  text-align: left;
}

@media (max-width: 1000px) {
  .btn {
    width: 100px;
    height: 100px;
    margin: 15px;
    border-width: 5px;
  }

  .instructions {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .container {
    margin: 60px auto;
    width: 100%;
  }
}
